<div class="steps">
  <ng-template ngFor [ngForOf]="steps.toArray()" let-step let-i="index" let-last="last">
    <div class="steps__step" style="cursor:pointer;" [class.steps__step--current]="i === wizardService.selectedIndex"
         (click)="showSelectedStep($event, step)">
      <div class="steps__step-number" [textContent]="(i + 1)"></div>
      <div class="steps__step-name" [textContent]="step.title"></div>
    </div>
    <ng-template [ngIf]="!last">
      <div class="steps__connector"></div>
    </ng-template>
  </ng-template>
</div>
<ng-content></ng-content>
